html {
  box-sizing: border-box;
  overflow-x: hidden;
}

 /* The Universal Selector */
 *, /* All elements*/
 *::before, /* All ::before pseudo-elements */
 *::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
      but can be over-ridden as needed */
  box-sizing: inherit;
  }

/* resets font size to be 62.5% of the user preference - 
    in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  }


  body {
    background-color: lightgrey;
    /* Use a system font, if none are available use an available sans-sarif font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0%;
  }

  body.dark {
    background-color: #4A434C;
    color: rgb(197, 197, 197);
  }

  nav {
    background-color: rgb(43, 43, 43);
    color: rgb(184, 184, 184);
    height: 40px;
    font-size: 2.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  main {
    font-size: 3.3rem;
  }

  .buttons {
    font-size: 25px;
  }

  .card {
    border: none;
  }

  .card-header {
    background-color: teal;
    border: 1px solid darkgrey;
  } 

  .list-group-item {
    border: 2px solid black;
  }
  
  .list-group-item:hover {
    background-color: grey;
  }

  .timer {
    text-align: right;
    margin-right: 10px;
  }

  .correct {
    background-color: green;
    color: whitesmoke;
  }

  .wrong {
    background-color: red;
    color: whitesmoke;
  }

  .card-body {
    text-align: center;
  }

  .card-body {
    background-color: rgba(39, 39, 39, 0.5);
    font-size: 2.1rem;
    border-radius: 5px;
    color: whitesmoke;
  }

  .cat-card {
    width: 300px;
    height: 200px;
    margin: 80px;
    border-radius: 4%;
    box-shadow: ;
  }

  #header{
    text-align: center;
    margin-top: 10px;  
  }

  #title {
    font-size: 4.8rem;
  }

  #message {
    font-size: 3.2rem;
    margin-bottom: 20px;
  }

  #category-cards {
    row-gap: 50px;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0
  }

  #hpCard {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,103,9,1) 42%, rgba(0,212,255,1) 100%);

  }

  #lotrCard {
    background-color: yellow;
  }

  #swCard {
    background-color: yellow;
  }

  #gotCard {
    background-color: yellow;
  }

  #mcuCard {
    background-color: yellow;
  }

  #ddCard {
    background-color: yellow;
  }
